body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Monterrat', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}


#title {
  background-color: #ff4c68;
  color: #fff;
}

.description {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Ubontu', sans-serif;
}

.nav-item {
  padding: 0 18px;
  font-family: 'Monterrat-light', sans-serif;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image  */
.dog-image {
  width: 30%;
  transform: rotate(25deg);
  position: absolute;
  right: 10%;
}

/* Features */
#features {
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.features-container {
  padding-top: 10%;
  padding-bottom: 10%;
}

.features-subtitles {
  font-family: 'Monterrat-bold', sans-serif;
  font-size: 1.5rem;
}

.features-comment {
  color: #8f8f8f;
}

.fa-heart {
  color: #ef8172;
  font-size: 3rem;
  padding-bottom: 10px;

}

.fa-circle-check{
  color: #ef8172;
  font-size: 3rem;
  padding-bottom: 10px;
}

.fa-bullseye{
  color: #ef8172;
  font-size: 3rem;
  padding-bottom: 10px;

}


.fa-solid:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
  text-align: center;
}


/* CTA */

#cta{
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
}

.cta-heading{
  font-family: "Montserrat-bold", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.button-download{
 margin: 5% 3% 5% 0;
}

#footer{
  text-align: center;
  padding: 15% 5%;
  background-color: #fff;

}

.footer-icons{
  margin: 20px 10px;
}


@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .dog-image {
    position: static;
    transform: rotate(0);
  }
}
